In [2]:
#Here are a set of libraries we imported to complete this assignment. 
#Feel free to use these or equivalent libraries for your implementation
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # this is used for the plot the graph 
import os
import seaborn as sns # used for plot interactive graph.
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn import metrics
from sklearn.svm import SVC  
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.cluster import KMeans
from sklearn.metrics import confusion_matrix
import sklearn.metrics.cluster as smc
from sklearn.model_selection import KFold
import statistics
import math

from matplotlib import pyplot
import itertools

%matplotlib inline

import random 
  
random.seed(42)

In [4]:
#read in the csv
# MY_PATH = "/Users/mattiesanseverino/ucla/188/project_src/datasets/training_data_cleaned.csv"
# MY_PATH = "/Users/Tanya/Documents/cs188_project/NEXT_trucking_project/datasets/training_data_cleaned.csv"
MY_PATH = "./datasets/training_data_cleaned.csv"
data = pd.read_csv(MY_PATH)

# Take a look at the data

In [5]:
data.head()

,Unnamed: 0,dt,weekday,year,id_driver,id_carrier_number,dim_carrier_type,dim_carrier_company_name,home_base_city,home_base_state,...,loads,marketplace_loads_otr,marketplace_loads_atlas,marketplace_loads,brokerage_loads_otr,brokerage_loads_atlas,brokerage_loads,total_loads,date,recent_date
0,0,2021-01-20,3,2021,30222,U0117613,Owner Operator,Rosas Transport,Santa Fe Springs,CA,...,4,1,253,254,0,3,3,257,2021-01-20,2021-02-17
1,1,2020-03-09,1,2020,4524,C0090405,Fleet,Daylight Transport,Long Beach,CA,...,6,0,0,0,2671,0,2671,2671,2020-03-09,2021-02-15
2,2,2020-02-14,5,2020,31164,C0097099,Fleet,First Class Transport #8,Hawthorne,CA,...,1,29,82,111,30,19,49,160,2020-02-14,2020-12-18
3,3,2019-06-10,1,2019,8859,U0097935,Owner Operator,DTELLIS TRUCKING,Long Beach,CA,...,1,25,6,31,0,1,1,32,2019-06-10,2020-02-16
4,4,2019-12-03,2,2019,18870,U0106560,Owner Operator,Z&N Transport,Los Angeles,CA,...,4,1,233,234,0,9,9,243,2019-12-03,2020-02-18

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83414 entries, 0 to 83413
Data columns (total 33 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                83414 non-null  int64
 1   dt                        83414 non-null  object
 2   weekday                   83414 non-null  int64
 3   year                      83414 non-null  int64
 4   id_driver                 83414 non-null  int64
 5   id_carrier_number         83414 non-null  object
 6   dim_carrier_type          83414 non-null  object
 7   dim_carrier_company_name  83367 non-null  object
 8   home_base_city            83369 non-null  object
 9   home_base_state           83369 non-null  object
 10  carrier_trucks            83414 non-null  object
 11  num_trucks                83344 non-null  float64
 12  interested_in_drayage     83414 non-null  object
 13  port_qualified            83414 non-null  object
 14  signup_source             83414 non-null  object
 15  ts_signup                 83414 non-null  object
 16  ts_first_approved         71142 non-null  object
 17  days_signup_to_approval   71142 non-null  float64
 18  driver_with_twic          83414 non-null  object
 19  dim_preferred_lanes       3409 non-null   object
 20  first_load_date           83414 non-null  object
 21  most_recent_load_date     83414 non-null  object
 22  load_day                  83414 non-null  object
 23  loads                     83414 non-null  int64
 24  marketplace_loads_otr     83414 non-null  int64
 25  marketplace_loads_atlas   83414 non-null  int64
 26  marketplace_loads         83414 non-null  int64
 27  brokerage_loads_otr       83414 non-null  int64
 28  brokerage_loads_atlas     83414 non-null  int64
 29  brokerage_loads           83414 non-null  int64
 30  total_loads               83414 non-null  int64
 31  date                      83414 non-null  object
 32  recent_date               83414 non-null  object
dtypes: float64(2), int64(12), object(19)
memory usage: 21.0+ MB

In [7]:
data.describe()

,Unnamed: 0,weekday,year,id_driver,num_trucks,days_signup_to_approval,loads,marketplace_loads_otr,marketplace_loads_atlas,marketplace_loads,brokerage_loads_otr,brokerage_loads_atlas,brokerage_loads,total_loads
count,83414.000000,83414.000000,83414.000000,83414.000000,83344.000000,71142.000000,83414.000000,83414.000000,83414.000000,83414.000000,83414.000000,83414.000000,83414.000000,83414.000000
mean,41706.500000,3.500060,2018.960870,18224.058060,22.579538,298.646201,2.075659,29.536241,71.511533,101.047774,148.027561,13.080166,161.107728,266.273371
std,24079.692014,1.687443,1.359275,11667.851627,48.816676,390.377138,2.669705,88.308416,194.548817,214.587614,415.376825,42.274194,413.197837,448.353468
min,0.000000,1.000000,2015.000000,20.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,20853.250000,2.000000,2018.000000,7890.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,37.000000
50%,41706.500000,3.000000,2019.000000,16299.000000,4.000000,61.000000,1.000000,2.000000,0.000000,13.000000,15.000000,0.000000,37.000000,110.000000
75%,62559.750000,5.000000,2020.000000,28974.000000,14.000000,497.000000,2.000000,23.000000,18.000000,94.000000,110.000000,1.000000,135.000000,325.000000
max,83413.000000,7.000000,2021.000000,38096.000000,195.000000,1653.000000,129.000000,902.000000,1324.000000,1348.000000,4266.000000,371.000000,4266.000000,4266.000000

# Part 1: Generate labels
## drivers in the 75th percentile of â€˜loadsâ€™ and the 75th percentile of â€˜most_recent_load_dateâ€™ are assigned a label of 1 (indicating a high performing driver) with all others being assigned a 0 - (NOTE: your labels will likely be unbalanced.

### pre-work from Piazza that must be done

- collapse your rows by trimming any duplicative entries per-driver, and only leaving the most recent (and therefore cumulative with regards to features like loads) entry. 
- Thereby each row is it's own driver, and it more closely fits the desired model. 
- If you take this approach, it would be worth playing around with different augmentations to provide additional nuance to your data. (e.g., while you have a total count of loads, you don't have a clear indication of the distribution of those loads. Is this an older driver who was active several years ago but now works irregularly, or is this a new driver that's been very active in the last few months?) Boiling up that kind of data into your features could be incredibly powerful.

In [44]:
#for each duplicate of a driver id 'id_driver', cumulate the 'load' values for this driver 
#AND add the median load for this driver as a new column 'median_load'
augmented_data = data
augmented_data['median_load'] = 0 #initialize col of zeroes
drivers = list(set(augmented_data['id_driver'])) #get rid of duplicates
rows_to_keep = []
median_loads = []

for d in drivers:
    loads_for_driver = augmented_data.loc[augmented_data['id_driver'] == d]
#     print((loads_for_driver))
    most_recent_date = list(loads_for_driver['most_recent_load_date'])[0]
    
    loads = sum(loads_for_driver['loads'])
    median_load = statistics.median(list(loads_for_driver['loads']))
    
    #print(statistics.median(list(loads_for_driver['loads'])))
    row = loads_for_driver.loc[loads_for_driver['date'] == most_recent_date]
    #print(row)
    row['median_load'] = median_load
    row['loads'] = loads
    #print(row)

    rows_to_keep.append(row)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [45]:
#not needed since prev cell handles single rows

nonduplicate_data.describe()

# augmented_data = augmented_data.drop_duplicates(subset=['id_driver'], keep=False)
# augmented_data['median_load'] = augmented_data['loads'] #set the non-duplicated ids to have same median as total

ValueError: Cannot describe a DataFrame without columns

In [41]:
nonduplicate_data = pd.DataFrame()
nonduplicate_data = nonduplicate_data.append(rows_to_keep)
#augmented_data['median_load'] = median_loads

In [42]:
nonduplicate_data.describe()

,Unnamed: 0,weekday,year,id_driver,num_trucks,days_signup_to_approval,loads,marketplace_loads_otr,marketplace_loads_atlas,marketplace_loads,brokerage_loads_otr,brokerage_loads_atlas,brokerage_loads,total_loads,median_load
count,5255.000000,5255.000000,5255.000000,5255.000000,5213.000000,3936.000000,5255.000000,5255.000000,5255.000000,5255.000000,5255.000000,5255.000000,5255.000000,5255.000000,5255.000000
mean,42367.673073,3.327878,2018.711893,17729.890580,16.623825,290.588669,32.329781,4.675737,9.080875,13.756613,14.868696,2.391056,17.259753,32.614272,1.257279
std,24017.127973,1.637614,1.434644,11623.779688,40.549150,367.951425,121.700428,20.449086,58.914784,63.390272,98.905258,17.796204,100.282773,122.920006,1.428952
min,10.000000,1.000000,2015.000000,20.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,21573.500000,2.000000,2018.000000,8048.500000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
50%,42650.000000,3.000000,2019.000000,15228.000000,4.000000,108.000000,3.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,3.000000,1.000000
75%,63242.500000,5.000000,2020.000000,29290.500000,11.000000,489.250000,17.000000,2.000000,0.000000,4.000000,4.000000,0.000000,5.000000,17.000000,1.000000
max,83402.000000,7.000000,2021.000000,38096.000000,195.000000,1653.000000,4250.000000,902.000000,1324.000000,1348.000000,4266.000000,371.000000,4266.000000,4266.000000,80.000000

In [109]:
# compute the 75th percentile for total loads
load_percentile = augmented_data["total_loads"].quantile(0.75)

In [110]:
# convert date to date object and get the 75th percentile
augmented_data.most_recent_load_date = [pd.to_datetime(d) for d in augmented_data.most_recent_load_date]
# augmented_data.info()
date_percentile = augmented_data["most_recent_load_date"].quantile(0.75)

C:\Users\Tanya\anaconda3\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [114]:
# create a new column and use np.where to assign values based on most_recent_load_date and total_loads
augmented_data["high_performing"] = np.where((augmented_data["most_recent_load_date"] >= date_percentile) 
                                             & (augmented_data["total_loads"] >= load_percentile), 1, 0)

# augmented_data
augmented_data["high_performing"].value_counts()
augmented_data.total_loads.describe()
# augmented_data.most_recent_load_date.describe()

<ipython-input-114-0328ed55d2c6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  augmented_data["high_performing"] = np.where((augmented_data["most_recent_load_date"] >= date_percentile)

count    1735.000000
mean        1.086455
std         0.405436
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         8.000000
Name: total_loads, dtype: float64

## somehow we need to balance the data?

# Step 2: Drop â€˜loadâ€™ and â€˜most_recent_load_dateâ€™ from your data frame 
Since those fields are
being directly used to label your data please remove them from your training and
testing cohorts.

In [ ]:
augmented_data = augmented_data.drop()

In [1]:
data

NameError: name 'data' is not defined